@import "./style.scss";

.longColorLine {
    width: 95%;
    height: 6px;
    margin: auto;
    @include gradualRed;
}


.clickBox {
    width: 120px;
    height: 15px;
    @include gradualRed;
    margin: auto;
}
.op-0{
    opacity: 0;
}

.filterItem {
    color: #999;
    padding: 15px 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
.filterItem-click{
    color: #fff;
}

.filterItem:hover {
    color: #fff;
}

.filterItem1 {
    color: #fff;
}

/*刪盒子*/

.whiteBox_pro {
    border: none;
}

/* 東西的盒子 */

.allItemBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px auto;
}

.ItemBox,
.ItemBoxs {
    margin: 20px 60px;
    text-align: center;
    /* background-color: #fff; */
    border-radius: 10px;
}

.itemPic {
    width: 110%;
    height: 300px;
    overflow: hidden;
    margin: auto;
    border-radius: 10px;
    border-bottom: solid 10px #eee;
    cursor: pointer;
}

.itemPic img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: .8s;
    object-position: center;
}

.itemTitle {
    font-size: 18px;
    font-weight: bold;
    padding: 30px 0 0;
    /* color: #333; */
    letter-spacing: 1px;
}

.itemText {
    font-size: 14px;
    padding: 10px 50px 40px;
    /* color: #333; */
    line-height: 24px;
    letter-spacing: 1px;
}

.colorBottomLine {
    background-color: #e26660;
    width: 90%;
    height: 3px;
    margin: 20px auto;
}

.itemPic img:hover {
    filter: brightness(.5);
}
//drop
.drop{
    display: flex;
    align-items:center;
    margin: 30px 20px;
    display: none;
}
.dropdown{
    position: relative;
}
.drop label{
    margin-right: 20px;
}
.dropdown-input{
    background-color: rgb(119, 119, 119);
    color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
.dropdown i{
    position: absolute;
    right: 10px;
    top: 5px;
}
.dropdown-content {
    position: absolute;
    background: #fff;
    border-radius: 5px;
    width: 195px;
}
@media screen and (max-width: 1200px) {
    .allItemBox {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
    .ItemBox {
        margin: 20px auto;
    }
    .itemPic {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .drop{
        display: flex;
    }
    .longColorLine-box{
        display: none;
    }
    .filterItem{
        margin: 10px;
    }
    .whiteBox_pro{
        padding: 40px 10px;
    }
    .filterItem{
        font-size: 18px;
    }
    
}