$color_red: #e26660;
$color_blue:#3b4372;
$color_dark_red:#a35050 ;

@mixin size($w,$h){
    width: $w;
    height: $h;
}
@mixin flex($j,$ac){
    display: flex;
    justify-content: $j;
    align-items: $ac;
}
@mixin nameInForm($w) {
    width: $w;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin gradualRed {
    background: rgb(237, 208, 163);
    background: -moz-linear-gradient(-45deg, rgba(237, 208, 163, 1) 0%, rgba(254, 144, 144, 1) 45%, rgba(226, 102, 96, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(237, 208, 163, 1) 0%, rgba(254, 144, 144, 1) 45%, rgba(226, 102, 96, 1) 100%);
    background: linear-gradient(135deg, rgba(237, 208, 163, 1) 0%, rgba(254, 144, 144, 1) 45%, rgba(226, 102, 96, 1) 100%);
}
@mixin  pic-center {
    overflow: hidden;
    object-fit: cover;
    object-position: center center;
}
.t-red{
    color: $color_red;
}